<!-- START ImageWrapper -->
<div class="image-wrapper">
  <!-- START ListingImage -->
  <div id="listing-image" data-palette-listing-id="545400033" data-shop-id="13777380">
    <!-- START ImageMain -->
    <div id="image-main">
      <!-- START ImageCarousel -->
      <ul id="image-carousel" style="height: 570px;">
          <li id="image-0" data-image-index="0" data-full-image-href="https://img.etsystatic.com/il/6ffc70/1267268056/il_fullxfull.1267268056_dg8h.jpg?version=0" data-large-image-href="https://img.etsystatic.com/il/6ffc70/1267268056/il_570xN.1267268056_dg8h.jpg?version=0" data-palette-listing-image="">
              <img src="./etsy-page_files/il_570xN.1267268056_dg8h.jpg" width="570" alt="">
          </li>
          <li id="image-1" data-image-index="1" data-full-image-href="https://img.etsystatic.com/il/8a980c/1295849555/il_fullxfull.1295849555_6r2b.jpg?version=0" data-large-image-href="https://img.etsystatic.com/il/8a980c/1295849555/il_570xN.1295849555_6r2b.jpg?version=0" style="display: none;" data-palette-listing-image="">
            <img src="./etsy-page_files/il_570xN.1295849555_6r2b.jpg" style="height: 570px; width: 426.686px;">
          </li>
          <li id="image-2" data-image-index="2" data-full-image-href="https://img.etsystatic.com/il/d5d799/1295849551/il_fullxfull.1295849551_dm9b.jpg?version=0" data-large-image-href="https://img.etsystatic.com/il/d5d799/1295849551/il_570xN.1295849551_dm9b.jpg?version=0" style="display: none;" data-palette-listing-image="">
            <img src="./etsy-page_files/il_570xN.1295849551_dm9b.jpg" style="height: 570px; width: 426.686px;">
          </li>
          <li id="image-3" data-image-index="3" data-full-image-href="https://img.etsystatic.com/il/f2d132/1295849547/il_fullxfull.1295849547_4y3v.jpg?version=0" data-large-image-href="https://img.etsystatic.com/il/f2d132/1295849547/il_570xN.1295849547_4y3v.jpg?version=0" style="display: none;" data-palette-listing-image="">
            <img src="./etsy-page_files/il_570xN.1295849547_4y3v.jpg" style="height: 570px; width: 426.686px;">
          </li>
          <li id="image-4" data-image-index="4" data-full-image-href="https://img.etsystatic.com/il/b5a85e/1264350630/il_fullxfull.1264350630_d31f.jpg?version=0" data-large-image-href="https://img.etsystatic.com/il/b5a85e/1264350630/il_570xN.1264350630_d31f.jpg?version=0" style="display: none;" data-palette-listing-image="">
            <img src="./etsy-page_files/il_570xN.1264350630_d31f.jpg" style="height: 570px; width: 536.139px;">
          </li>
          <li id="image-5" data-image-index="5" data-full-image-href="https://img.etsystatic.com/il/9f652f/1311582387/il_fullxfull.1311582387_cvhe.jpg?version=0" data-large-image-href="https://img.etsystatic.com/il/9f652f/1311582387/il_570xN.1311582387_cvhe.jpg?version=0" style="display: none;" data-palette-listing-image="">
            <img src="./etsy-page_files/il_570xN.1311582387_cvhe.jpg">
          </li>
          <li id="image-6" data-image-index="6" data-full-image-href="https://img.etsystatic.com/il/abd4cd/1311582273/il_fullxfull.1311582273_hmno.jpg?version=0" data-large-image-href="https://img.etsystatic.com/il/abd4cd/1311582273/il_570xN.1311582273_hmno.jpg?version=0" style="display: none;" data-palette-listing-image="">
            <img src="./etsy-page_files/il_570xN.1311582273_hmno.jpg">
          </li>
          <li id="image-7" data-image-index="7" data-full-image-href="https://img.etsystatic.com/il/8c036f/1264350652/il_fullxfull.1264350652_nm2s.jpg?version=0" data-large-image-href="https://img.etsystatic.com/il/8c036f/1264350652/il_570xN.1264350652_nm2s.jpg?version=0" style="display: none;" data-palette-listing-image="">
            <img src="./etsy-page_files/il_570xN.1264350652_nm2s.jpg">
          </li>
          <li id="image-8" data-image-index="8" data-full-image-href="https://img.etsystatic.com/il/b5da1d/1264350636/il_fullxfull.1264350636_72av.jpg?version=0" data-large-image-href="https://img.etsystatic.com/il/b5da1d/1264350636/il_570xN.1264350636_72av.jpg?version=0" style="display: none;" data-palette-listing-image="">
            <img src="./etsy-page_files/il_570xN.1264350636_72av.jpg">
          </li>
          <li id="image-9" data-image-index="9" data-full-image-href="https://img.etsystatic.com/il/4f266e/1295849557/il_fullxfull.1295849557_da2x.jpg?version=1" data-large-image-href="https://img.etsystatic.com/il/4f266e/1295849557/il_570xN.1295849557_da2x.jpg?version=1" style="display: none;" data-palette-listing-image="">
            <img src="./etsy-page_files/il_570xN.1295849557_da2x.jpg" style="height: 570px; width: 465.239px;">
          </li>
        </ul>
        <!-- START Arrows -->
        <div id="image-left-arrow-container" class="image-arrow-box-container">
          <button id="image-left-arrow" class="image-arrow-box" aria-label="Previous image">
            <div class="arrow">◅</div>
          </button>
        </div>
        <div id="image-right-arrow-container" class="image-arrow-box-container">
          <button id="image-right-arrow" class="image-arrow-box" aria-label="Next image">
            <div class="arrow">▻</div>
          </button>
        </div>
        <!-- end Arrows -->
    </div>
    <!-- end ImageMain -->
    <!-- START ImageFooter -->
    <div id="image-footer">
      <ul id="circles">
        <li class="thumbnail-nav circle-selected" data-index="0">
          <img src="./etsy-page_files/il_75x75.1267268056_dg8h.jpg" data-src="https://img.etsystatic.com/il/6ffc70/1267268056/il_75x75.1267268056_dg8h.jpg?version=0" alt="" width="75" height="75">
        </li>
        <!--
          <li id="image-0" data-image-index="0" data-full-image-href="https://img.etsystatic.com/il/6ffc70/1267268056/il_fullxfull.1267268056_dg8h.jpg?version=0" data-large-image-href="https://img.etsystatic.com/il/6ffc70/1267268056/il_570xN.1267268056_dg8h.jpg?version=0" data-palette-listing-image="">
              <img src="./etsy-page_files/il_570xN.1267268056_dg8h.jpg" width="570" alt="">
          </li>
        -->
        <li class="thumbnail-nav " data-index="1">
            <img src="./etsy-page_files/il_75x75.1295849555_6r2b.jpg" data-src="https://img.etsystatic.com/il/8a980c/1295849555/il_75x75.1295849555_6r2b.jpg?version=0" alt="" width="75" height="75">
        </li>
        <li class="thumbnail-nav " data-index="2">
            <img src="./etsy-page_files/il_75x75.1295849551_dm9b.jpg" data-src="https://img.etsystatic.com/il/d5d799/1295849551/il_75x75.1295849551_dm9b.jpg?version=0" alt="" width="75" height="75">
        </li>
        <li class="thumbnail-nav " data-index="3">
            <img src="./etsy-page_files/il_75x75.1295849547_4y3v.jpg" data-src="https://img.etsystatic.com/il/f2d132/1295849547/il_75x75.1295849547_4y3v.jpg?version=0" alt="" width="75" height="75">
        </li>
        <li class="thumbnail-nav " data-index="4">
            <img src="./etsy-page_files/il_75x75.1264350630_d31f.jpg" data-src="https://img.etsystatic.com/il/b5a85e/1264350630/il_75x75.1264350630_d31f.jpg?version=0" alt="" width="75" height="75">
        </li>
        <li class="thumbnail-nav " data-index="5">
            <img src="./etsy-page_files/il_75x75.1311582387_cvhe.jpg" data-src="https://img.etsystatic.com/il/9f652f/1311582387/il_75x75.1311582387_cvhe.jpg?version=0" alt="" width="75" height="75">
        </li>
        <li class="thumbnail-nav " data-index="6">
            <img src="./etsy-page_files/il_75x75.1311582273_hmno.jpg" data-src="https://img.etsystatic.com/il/abd4cd/1311582273/il_75x75.1311582273_hmno.jpg?version=0" alt="" width="75" height="75">
        </li>
        <li class="thumbnail-nav " data-index="7">
            <img src="./etsy-page_files/il_75x75.1264350652_nm2s.jpg" data-src="https://img.etsystatic.com/il/8c036f/1264350652/il_75x75.1264350652_nm2s.jpg?version=0" alt="" width="75" height="75">
        </li>
        <li class="thumbnail-nav " data-index="8">
            <img src="./etsy-page_files/il_75x75.1264350636_72av.jpg" data-src="https://img.etsystatic.com/il/b5da1d/1264350636/il_75x75.1264350636_72av.jpg?version=0" alt="" width="75" height="75">
        </li>
        <li class="thumbnail-nav " data-index="9">
            <img src="./etsy-page_files/il_75x75.1295849557_da2x.jpg" data-src="https://img.etsystatic.com/il/4f266e/1295849557/il_75x75.1295849557_da2x.jpg?version=1" alt="" width="75" height="75">
        </li>
      </ul>
      <!-- START Zoom -->
      <a id="zoom" href="https://img.etsystatic.com/il/6ffc70/1267268056/il_fullxfull.1267268056_dg8h.jpg?version=0" target="_blank">
        <span class="ss-icon">🔎</span>zoom
      </a>
      <!-- END Zoom -->
    </div>
    <!-- END ImageFooter -->
  </div>
  <!-- END ListingImage -->
</div>